@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9918 0.0011 17.1778);
  --foreground: oklch(0.2161 0.0061 56.0434);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2161 0.0061 56.0434);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2161 0.0061 56.0434);
  --primary: oklch(0.5771 0.2152 27.3250);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5534 0.0116 58.0708);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9699 0.0013 106.4238);
  --muted-foreground: oklch(0.5534 0.0116 58.0708);
  --accent: oklch(0.9356 0.0309 17.7172);
  --accent-foreground: oklch(0.4437 0.1613 26.8994);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9232 0.0026 48.7171);
  --input: oklch(0.9232 0.0026 48.7171);
  --ring: oklch(0.5771 0.2152 27.3250);
  --chart-1: oklch(0.5771 0.2152 27.3250);
  --chart-2: oklch(0.5534 0.0116 58.0708);
  --chart-3: oklch(0.5436 0.1712 285.5413);
  --chart-4: oklch(0.7329 0.0895 299.9921);
  --chart-5: oklch(0.4099 0.0871 289.7958);
  --sidebar: oklch(0.9699 0.0013 106.4238);
  --sidebar-foreground: oklch(0.2161 0.0061 56.0434);
  --sidebar-primary: oklch(0.5771 0.2152 27.3250);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9356 0.0309 17.7172);
  --sidebar-accent-foreground: oklch(0.4437 0.1613 26.8994);
  --sidebar-border: oklch(0.9232 0.0026 48.7171);
  --sidebar-ring: oklch(0.5771 0.2152 27.3250);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 2px 4px 3px hsl(240 4% 60% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 4px 6px 3px hsl(240 4% 60% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 8px 10px 3px hsl(240 4% 60% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2591 0.0500 290.9980);
  --foreground: oklch(0.9605 0.0046 258.3248);
  --card: oklch(0.3017 0.0655 288.0125);
  --card-foreground: oklch(0.9605 0.0046 258.3248);
  --popover: oklch(0.3017 0.0655 288.0125);
  --popover-foreground: oklch(0.9605 0.0046 258.3248);
  --primary: oklch(0.7106 0.1661 22.2162);
  --primary-foreground: oklch(0.2781 0.0296 256.8480);
  --secondary: oklch(0.7161 0.0091 56.2590);
  --secondary-foreground: oklch(0.2161 0.0061 56.0434);
  --muted: oklch(0.2796 0.0579 290.7753);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.2575 0.0886 26.0418);
  --accent-foreground: oklch(0.8845 0.0593 18.3341);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4099 0.0871 289.7958);
  --input: oklch(0.4099 0.0871 289.7958);
  --ring: oklch(0.7106 0.1661 22.2162);
  --chart-1: oklch(0.7106 0.1661 22.2162);
  --chart-2: oklch(0.7161 0.0091 56.2590);
  --chart-3: oklch(0.5436 0.1712 285.5413);
  --chart-4: oklch(0.7329 0.0895 299.9921);
  --chart-5: oklch(0.4099 0.0871 289.7958);
  --sidebar: oklch(0.3017 0.0655 288.0125);
  --sidebar-foreground: oklch(0.9605 0.0046 258.3248);
  --sidebar-primary: oklch(0.7106 0.1661 22.2162);
  --sidebar-primary-foreground: oklch(0.2781 0.0296 256.8480);
  --sidebar-accent: oklch(0.2575 0.0886 26.0418);
  --sidebar-accent-foreground: oklch(0.8845 0.0593 18.3341);
  --sidebar-border: oklch(0.4099 0.0871 289.7958);
  --sidebar-ring: oklch(0.7106 0.1661 22.2162);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
::view-transition-old(root),
::view-transition-new(root) {
  position: fixed;
  inset: 0;
  pointer-events: none;
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 0;
}

::view-transition-new(root) {
  z-index: 2147483646;
  background: var(--background); /* <- attention : match bien ta couleur */
  clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
  animation: reveal 0.45s ease-in-out forwards;
}

@keyframes reveal {
  from {
    clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
    opacity: 0.7;
  }
  to {
    clip-path: circle(200% at var(--x, 50%) var(--y, 50%));
    opacity: 1;
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
}






@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}


body {
  --sb-track-color: var(--sidebar);
  --sb-thumb-color: var(--color-primary);
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 1px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--color-primary)
                     var(--sb-track-color);
  }
}

